<div class="container">
  <h1>Watch Here</h1>

  <div class="col-lg-12">
    <h2>My List</h2>
  </div>
  <app-item-list [itemsList]="myList" type="myList" (addToMyListCallBack)="addToMyList($event)"></app-item-list>

  <div class="col-lg-12">
    <h2>Recommendations</h2>
  </div>
  <app-item-list [itemsList]="recommendationsList" type="recommended" (addToMyListCallBack)="addToMyList($event)"></app-item-list>

  <div class="col-lg-12 bottom-links">
    <nav class="nav">
      <a class="nav-link item-link" *ngFor="let listItem of myList" href="#">{{listItem.title}}</a>
    </nav>
  </div>
</div>
