/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';
.my-list{
	border:1px solid #e6e6e6;
	padding:20px;
	margin-left: 16px;
}
.my-list-img{
	width:100px;
	height:100px;
	cursor:pointer;
}
.my-list-item{
	height:170px;
}
.bottom-links{
	background:#e6e6e6;
	margin-top:10px;
	margin-left: 16px;
	padding:10px;
}
.item-link{
	padding-right:15px;
}